body {
    font-family: "Lato", sans-serif;
    background-color: rgb(99,99,99);
  }

  h2{
    color:white;
    padding: 2px 2px 8px 32px;
  }
  
  h1{
    color:white;
    padding: 2px 2px 8px 0px;
    text-align: center;
  }

  #droprate{
    color:white;
    font-size: 32px;
    margin-left: 18px; 
  }

 #petcheck + label{
  font-size: 30px;
  color: white;
  display: inline-block;
  vertical-align: middle;
  margin-left:3px;
 }

 #petcheck{
  margin-left: 25px;
 }
  #hours-spent{
    color:white;
    font-size: 32px;
    margin-left: 18px; 
  }

  #pet-type-container {
    display: flex;
    align-items: center;
    margin-left: 16px;
    margin-right: auto;
    margin-top: 8px;
  }
  
  #pet-type-selector {
    margin-left: 10px;
    font-size: 16px;
    text-align: center;
  }
  
  #pet-type-label {
    color: white;
    font-size: 16px;
    margin-right: 10px;
  }

  #pet-obtained-container{
    display:block;
    margin-left: 400px;
    margin-right: auto;
  }

  #likelihood-container{
    display: inline-block;
    vertical-align: middle;
    margin-left:140px;
  }

  #likelihood{
    font-size: 80px;
    color: white;
  }

  #hours-left{
    color:white;
    font-size: 32px;
    margin-left: 18px; 
  }

  #searchbar{
    margin-left: 16px;
  }

  #currentboss{
    margin-bottom:73px;
  }

  #image-container {
    width: 20%;
    height: auto;
    position: absolute;
    right: 0;
    border: 2px solid white;
    padding: 5px;
    margin-right: 150px; 
  }
  
  #petimage {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(73, 73, 73);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(201, 181, 218);
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }


  #input-fields {
    padding-left: 42px;
    display: flex;
    flex-direction: column;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .input-container label {
    color: white;
    font-size: 32px;
    margin-right: 20px;
    vertical-align: bottom;
  }
  
  .input-container input {
    padding-right: 18px;
    box-sizing: border-box;
    width: 9%;
    font-size: 28px;
  }

  @media screen and (max-width: 1850px) {
    /* Change the layout when screen size is 800px or less */
    #image-container {
      width: 20%;
      height: 50%;
      position: relative;
      margin-left: auto;
      margin-right: auto;
    }
    .input-container input {
      padding-right: 18px;
      box-sizing: border-box;
      width: 18%;
      font-size: 24px;
    }
    .input-container label {
      color: white;
      font-size: 24px;
      margin-right: 20px;
      vertical-align: bottom;
    }
    #input-fields {
      margin-left: 200px;
      margin-right: auto;
      justify-content: center;
    }
    #droprate{
      color:white;
      font-size: 24px;
      margin-left: 18px; 
    }
  
    #likelihood{
      font-size: 80px;
      color: white;
      margin-left: 200px;
      text-align: center;
    }
    #hours-spent{
      color:white;
      font-size: 24px;
      margin-left: 18px; 
    }
  
    #hours-left{
      color:white;
      font-size: 24px;
      margin-left: 18px; 
    }

  }

  @media screen and (max-width: 1180px) {
    #droprate{
      color:white;
      font-size: 16px;
      margin-left: 8px; 
    }
  
    #hours-spent{
      color:white;
      font-size: 16px;
      margin-left: 8px; 
    }
  
    #hours-left{
      color:white;
      font-size: 16px;
      margin-left: 8px; 
    }
    .input-container label {
      color: white;
      font-size: 12px;
      margin-right: 8px;
      vertical-align: bottom;
    }
    #input-fields {
      margin-left: 200px;
      margin-right: 150px;
      justify-content: center;
    }
    
    #likelihood-container{
      display: inline-block;
      vertical-align: middle;
      margin-left:100px;
    }
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(73, 73, 73);
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color:rgb(201, 181, 218);
    color: black;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;

  }
  